@model CartItemViewModel
<div class="" style="margin-top: 84px;">
    <div class="row">
        <div class="col-3">
            <img src="~/images/users/@Model.ImageUrl" />
        </div>
        <div class="col-9">
            @Model.TeacherName
        </div>
    </div>
</div>